

  <div id="header">
    <div style="display: flex;flex-direction: row; ">
        <div id="logo">
          <h3>Ka Be</h3>
        </div>
        <h2>Sklep z softłerem</h2>
    </div>

    <button id="panel" routerLink="/adm_dashboard">Panel Administratora</button>
    <div>
      <button class="koszyk" id="cartBtn" routerLink="/cart">
          Zawartość koszyka: {{getCartQuanity()}}
      </button>
    </div>

    <div style="display: flex; justify-content: center;">
        <input type="text" [(ngModel)]="this.mainService.productsRequest.name">
        <button id="szukanie" (click)="this.mainService.getProducts(this.mainService.productsRequest)" routerLink="/products">Szukaj Produktu</button>
    </div>
  </div>



