#productsTable{
  img{
    width:50px;
  }
  td{
    padding:5px;
  }
}
.content-header
{
  width: 1400px;
  height: 400px;
  margin:0 auto;
  padding: 50px;
  background-color: gray;
  font-family: Verdana;
  font-size: 20px;
  color:whitesmoke;
}
h2
{
  margin-left: 55px;
  letter-spacing: 2px;
}
#odswiez
{
  width: 150px;
  background-color: #415596;
  font-size: 15px;
  color: white;
  padding: 5px 5px;
  border: 2px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 55px;
}
.content-container
{
  width: 1400px;
  margin:0 auto;
  padding:50px;
  background-color: lightgray;
}
