
#header
{
  width: 1400px;
  height: 200px;
  margin:0 auto;
  padding: 50px;
  background-color: gray;
  font-family: Verdana;
  font-size: 20px;
  color:whitesmoke;
}
#logo
{
  width: 100px;
  height: 80px;
  text-align: center;
  background-color: silver;
  margin: 20px;
  border-width: 10px;
  border-color: slategray;
  border-radius: 5%;
  letter-spacing: 3px;
}
h2
{
  font-size: 36px;
  margin-left: 380px;
}
button
{

}
